@import "reset.css";
@import "header.css";
@import "footer.css";
@import "layout.css";
@import "typography.css";
@import "./UI/buttons.css";
@import "./UI/inputs.css";
@import "./UI/forms.css";
@import "./UI/checkboxes.css";

.todo-list {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Century Gothic', sans-serif;
}

.todos {
    list-style-type: none;
    padding: 0;
}

.no-todos {
    text-align: center;
    margin-top: 20px;
    font-family: 'Century Gothic', sans-serif;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.todo-item:hover {
    background-color: #f1f1f1;
}

.todo-text {
    flex: 1;
    margin-right: 10px;
}

.todo-text.done {
    text-decoration: line-through;
    color: #888;
}